.hero-container {
    background-color: var(--theme-blue);
    padding: 120px 150px;
    display: flex;
    width: 100%;
}

.hero-container > .left {
    width: 40%;
    color: var(--theme-white);
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hero-container > .left > .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-container > .left > .description > h1 {
    font-size: 80px;
}

.hero-container > .left > .description > p {
    font-size: 35px;
}

.hero-container > .left > .description > button {
    border: 3px solid var(--theme-black);
    border-radius: 100px;
    font-size: 25px;
    font-weight: 800;
    color: white;
    background-color: var(--theme-black);
    width: fit-content;
    padding: 15px 50px;
    text-transform: uppercase;
    cursor: pointer;
}
.hero-container > .left > .description > button:hover {
    background-color: var(--theme-blue);
    color: var(--theme-black);
}

.hero-container > .right {
    width: 60%;
}
