.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container > .stick {
    border: 2px solid var(--theme-black);
    border-radius: 10px;
    height: 50px;
}

.logo-container > .text {
    color: var(--theme-white);
    font-size: 40px;
}

@media only screen and (max-width: 670px) {
    .logo-container {
        gap: 5px;
        width: 100%;
    }
    .logo-container > .text {
        font-size: 30px;
    }
    .logo-container > .stick {
        height: 35px;
    }
}